:root {
    --color-cyan-600: rgb(77, 150, 168);
    --color-cyan-300: rgb(143, 227, 249);
    --color-purple-600: rgb(133, 95, 177);
    --color-purple-300: rgb(217, 184, 255);
    --color-slate-900: rgb(40, 40, 61);
    --color-slate-600: rgb(135, 135, 157);
    --color-slate-300: rgb(209, 209, 223);
    --color-white: rgb(250, 250, 250);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    justify-content: center;
    font-family: "Red Hat Display", sans-serif;
}

header {
    margin: 0 -2rem;
}

.meet-hero-mobiletablet {
    display: none;
    max-height: 18.75rem;
    max-width: 51.25rem;
}

.meet-heading {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.meet-hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4rem 0;
} 

@media screen and (max-width: 70rem) {
    .meet-hero-desktop {
        display: none;
    }
    .meet-hero-mobiletablet {
        display: block;
    }
    .meet-hero {
        flex-direction: column;
    }
    header {
        margin: 0;
        max-width: 100vw;
    }
}